--index-url https://download.pytorch.org/whl/cu126
--extra-index-url https://pypi.org/simple

xformers
torch==2.6.0+cu126
torchvision==0.21.0+cu126
torchaudio==2.6.0+cu126

argparse
opencv-contrib-python
numpy<2.0.0
tqdm
requests
huggingface_hub
fire==0.5.0
accelerate==1.0.1
safetensors==0.4.3
transformers==4.42.3
decord==0.6.0
diffusers==0.29.2
av==12.3.0
matplotlib==3.7.5
mediapy==1.2.2
opencv-python==4.10.0.84
imageio
imageio-ffmpeg
easydict
pillow
einops
pyqt5
numba
setuptools
wheel
ninja
scenedetect
